body {
    background-image: linear-gradient(to right, green, aqua);
}

#titulo {
    display: block;
    margin: 0 auto;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
}

#BemVindo {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  #menu li {
    display: inline-block;
    margin-right: 10px;
  }
  
  #menu li a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    border: 1px solid #000;
  }
  
  #menu li a:hover {
    background-color: #000;
    color: #fff;
  }

  
  
